@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mr Fix-It";
}

<div class="jumbotron header">
    <h2>Welcome to Mr. Fix-It</h2>
</div>
<div class="container">
    @if (User.Identity.IsAuthenticated && Model.FirstName !=null)
    {
        <div class="text-center">
            <p>Hello @Model.FirstName @Model.LastName</p>
            <h4>You are Logged In. @Html.ActionLink("View Your Dashboard", "Index", "Worker")</h4>
        </div>
    }
    <div class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/AxaeXsS9n7g?rel=0&autoplay=1&autohide=1&showinfo=0&controls=0" frameborder="0"></iframe>
    </div>
</div>


