@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mr Fix-It Login";
}

@using System.Security.Claims

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <h4>Hello @User.Identity.Name!</h4>

    } else
    {
        <div class="text-center">
            <h2>Welcome to Mr.Fix-It</h2>
                <h3 id="login-screen">Login or Register</h3>
                <button class="btn-primary btn-lg">@Html.ActionLink("Register", "Register")</button>
                <button class="btn-primary btn-lg">@Html.ActionLink("Log in", "Login")</button>
        </div>
    }
</div>



