@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MrFixIt.ViewModels

@model LoginViewModel
<div class="container">
    <h2>Log in with your account</h2>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Email, new { @class = "labels" })
        @Html.TextBoxFor(m => m.Email)
        <br /><br />
        @Html.LabelFor(m => m.Password, new { @class = "labels" })
        @Html.PasswordFor(m => m.Password)
        <br /><br />
        <input type="submit" value="Log in" class="btn btn-default" />
    }
</div>