body {
  padding-top: 70px;
  color: navy; }

table {
  width: 100%;
  border: 1px solid black;
  font-size: 15px; }
  table th {
    height: 50px;
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    font-size: 25px; }
  table td {
    border: 1px solid black;
    padding: 5px;
    text-align: left; }
    table td a {
      font-size: 15px; }

.render-body {
  margin-bottom: 50px; }

#confirm-claim, #claim {
  max-width: 200px; }

#claim-button {
  background-color: tomato;
  color: white; }

#claim-button:hover {
  background-color: #D9391C;
  color: white; }

.btn {
  background-color: darkslategrey;
  color: white; }

.btn:hover {
  background-color: dimgrey;
  color: white; }

