body {
  color: navy;
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px; }

.header {
  background-image: url("../img/bkg3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100vw;
  height: 40vh;
  text-align: right;
  padding: 20px; }
  .header h2 {
    padding-top: 60px;
    font-size: 50px;
    color: white;
    font-weight: bold; }

.labels {
  padding-right: 10px; }

nav, .navbar, navbar-inverse {
  margin-bottom: 0px; }

table {
  width: 100%;
  border: 1px solid black;
  font-size: 15px; }
  table th {
    height: 50px;
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    font-size: 25px; }
  table td {
    border: 1px solid black;
    padding: 5px;
    text-align: left; }
    table td a {
      font-size: 15px; }

.render-body {
  margin-bottom: 50px; }

#confirm-claim, #claim {
  max-width: 200px; }

#claim-button {
  background-color: tomato;
  color: white; }

#claim-button:hover {
  background-color: #D9391C;
  color: white; }

.home {
  width: 100vw; }

#login-screen {
  padding-top: 30px; }

.btn {
  background-color: darkslategrey;
  color: white; }

.btn-lg {
  margin: 10px;
  padding: 20px; }
  .btn-lg a {
    color: white; }

.btn:hover {
  background-color: dimgrey;
  color: white; }

